/*------------------------------------
- FAQ
------------------------------------*/

.faq-items {
  list-style: none;
  padding-left: 0;

  li {
    display: block;
    margin-bottom: 48px;
  }

  h4 {
    color: $color-primary;
  }

  p {
    font-size: 15px;
    margin-top: 0;
  }
}
