/*------------------------------------
- Utility classes
------------------------------------*/

//
// Coloring
//

// Background colors
.bg-white            {background-color: #fff !important;}
.bg-dark             {background-color: $bg-dark !important;}
.bg-dark-light       {background-color: $bg-dark-light !important;}
.bg-dark-lighter     {background-color: $bg-dark-lighter !important;}
.bg-dark-lightest    {background-color: $bg-dark-lightest !important;}
.bg-gray             {background-color: $bg-gray !important;}
.bg-gray-light       {background-color: $bg-gray-light !important;}
.bg-gray-lighter     {background-color: $bg-gray-lighter !important;}
.bg-gray-lightest    {background-color: $bg-gray-lightest !important;}
.bg-blue             {background-color: $bg-blue !important;}
.bg-red              {background-color: $bg-red !important; }
.bg-orange           {background-color: $bg-orange !important;}
.bg-green            {background-color: $bg-green !important;}
.bg-purple           {background-color: $bg-purple !important;}


// Text colors
.txt-white         {color: #fff !important;}
.txt-dark          {color: $bg-dark !important;}
.txt-gray          {color: $color-gray-light !important;}
.txt-blue          {color: $bg-blue !important;}
.txt-red           {color: $bg-red !important; }
.txt-orange        {color: $bg-orange !important;}
.txt-green         {color: $bg-green !important;}
.txt-purple        {color: $bg-purple !important;}


//
// Spacing
//

.no-padding {
  padding: 0;
}
.no-padding-x {
  padding-left: 0;
  padding-right: 0;
}
.no-padding-y {
  padding-top: 0;
  padding-bottom: 0;
}

.no-padding-top {
  padding-top: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-margin {
  margin: 0;
}
.no-margin-x {
  margin-left: 0;
  margin-right: 0;
}
.no-margin-y {
  margin-top: 0;
  margin-bottom: 0;
}

.padding-xs {padding: 32px 16px;}
.padding-sm {padding: 64px 24px;}
.padding-md {padding: 96px 32px;}
.padding-lg {padding: 128px 48px;}
.padding-xl {padding: 180px 64px;}

.margin-xs {margin: 32px 16px;}
.margin-sm {margin: 64px 24px;}
.margin-md {margin: 96px 32px;}
.margin-lg {margin: 128px 48px;}
.margin-xl {margin: 180px 64px;}

// Margin and padding classes from Bootstrap 4
// Margin
.m-a-0 { margin:        0 !important; }
.m-t-0 { margin-top:    0 !important; }
.m-r-0 { margin-right:  0 !important; }
.m-b-0 { margin-bottom: 0 !important; }
.m-l-0 { margin-left:   0 !important; }
.m-x-0 { margin-right:  0 !important; margin-left:   0 !important; }
.m-y-0 { margin-top:    0 !important; margin-bottom: 0 !important; }

.m-a { margin:        $spacer !important; }
.m-t { margin-top:    $spacer-y !important; }
.m-r { margin-right:  $spacer-x !important; }
.m-b { margin-bottom: $spacer-y !important; }
.m-l { margin-left:   $spacer-x !important; }
.m-x { margin-right:  $spacer-x !important; margin-left: $spacer-x !important; }
.m-y { margin-top:    $spacer-y !important; margin-bottom: $spacer-y !important; }
.m-x-auto { margin-right: auto !important; margin-left: auto !important; }

.m-a-md { margin:        ($spacer * 1.5) !important; }
.m-t-md { margin-top:    ($spacer-y * 1.5) !important; }
.m-r-md { margin-right:  ($spacer-y * 1.5) !important; }
.m-b-md { margin-bottom: ($spacer-y * 1.5) !important; }
.m-l-md { margin-left:   ($spacer-y * 1.5) !important; }
.m-x-md { margin-right:  ($spacer-x * 1.5) !important; margin-left:   ($spacer-x * 1.5) !important; }
.m-y-md { margin-top:    ($spacer-y * 1.5) !important; margin-bottom: ($spacer-y * 1.5) !important; }

.m-a-lg { margin:        ($spacer * 3) !important; }
.m-t-lg { margin-top:    ($spacer-y * 3) !important; }
.m-r-lg { margin-right:  ($spacer-y * 3) !important; }
.m-b-lg { margin-bottom: ($spacer-y * 3) !important; }
.m-l-lg { margin-left:   ($spacer-y * 3) !important; }
.m-x-lg { margin-right:  ($spacer-x * 3) !important; margin-left:   ($spacer-x * 3) !important; }
.m-y-lg { margin-top:    ($spacer-y * 3) !important; margin-bottom: ($spacer-y * 3) !important; }

// Padding
.p-a-0 { padding:        0 !important; }
.p-t-0 { padding-top:    0 !important; }
.p-r-0 { padding-right:  0 !important; }
.p-b-0 { padding-bottom: 0 !important; }
.p-l-0 { padding-left:   0 !important; }
.p-x-0 { padding-left:   0 !important; padding-right: 0 !important; }
.p-y-0 { padding-top:    0 !important; padding-bottom: 0 !important; }

.p-a { padding:        $spacer !important; }
.p-t { padding-top:    $spacer-y !important; }
.p-r { padding-right:  $spacer-x !important; }
.p-b { padding-bottom: $spacer-y !important; }
.p-l { padding-left:   $spacer-x !important; }
.p-x { padding-right:  $spacer-x !important; padding-left:   $spacer-x !important; }
.p-y { padding-top:    $spacer-y !important; padding-bottom: $spacer-y !important; }

.p-a-md { padding:        ($spacer * 1.5) !important; }
.p-t-md { padding-top:    ($spacer-y * 1.5) !important; }
.p-r-md { padding-right:  ($spacer-y * 1.5) !important; }
.p-b-md { padding-bottom: ($spacer-y * 1.5) !important; }
.p-l-md { padding-left:   ($spacer-y * 1.5) !important; }
.p-x-md { padding-right:  ($spacer-x * 1.5) !important; padding-left:   ($spacer-x * 1.5) !important; }
.p-y-md { padding-top:    ($spacer-y * 1.5) !important; padding-bottom: ($spacer-y * 1.5) !important; }

.p-a-lg { padding:        ($spacer * 3) !important; }
.p-t-lg { padding-top:    ($spacer-y * 3) !important; }
.p-r-lg { padding-right:  ($spacer-y * 3) !important; }
.p-b-lg { padding-bottom: ($spacer-y * 3) !important; }
.p-l-lg { padding-left:   ($spacer-y * 3) !important; }
.p-x-lg { padding-right:  ($spacer-x * 3) !important; padding-left:   ($spacer-x * 3) !important; }
.p-y-lg { padding-top:    ($spacer-y * 3) !important; padding-bottom: ($spacer-y * 3) !important; }