<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<title>TheGuide - Online documentation template</title>
<link href="assets/css/app.min.css" rel="stylesheet">
<link href="assets/css/theguide.css" rel="stylesheet">
<link href="assets/css/custom.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,800%7COpen+Sans:300,400,500,600,700,800%7CMontserrat:400,700' rel='stylesheet' type='text/css'>
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="icon" href="assets/img/favicon.ico">
</head>

<body class="sticky-nav transparent-nav">


<header class="site-header">

<nav class="site-navigation">
<div class="container">
<div class="logo">
  <a class="logo-default" href="index.html"><img src="assets/img/logo.png" alt="logo"></a>
  <a class="logo-transparent" href="index.html"></a>
</div>

<a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="fa fa-bars"></i></a>

<ul class="nav-menu">
  <li><a class="active" href="index.html">Overview</a></li>
  <li><a href="getting-started.html">Getting Started</a></li>
  <li><a href="css.html">CSS</a></li>
  <li><a href="components.html">Components</a></li>
  <li>
    <a href="#">Pages</a>
    <ul>
      <li><a href="faq.html">FAQ</a></li>
      <li><a href="changelog.html">Changelog</a></li>
      <li><a href="tutorial-1.html">Tutorial - 1</a></li>
      <li><a href="tutorial-2.html">Tutorial - 2</a></li>
      <li><a href="tutorial-3.html">Tutorial - 3</a></li>
    </ul>
  </li>
</ul>
</div>
</nav>

</header>

<main>

{{{contents}}}

</main>

<footer class="site-footer">
</footer>

<script src="assets/js/app.min.js"></script>
<script src="assets/js/theguide.js"></script>
<script src="assets/js/custom.js"></script>

</body>
</html>
